.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
}

.activePart {
  background-color: rgba(255, 4, 4, 0.178);
  position: absolute;
  top: 0;
  bottom: 0;
  height: 50px;
  left: 0;
}


.rect1 {
  height: 50px;
  position: relative;
  border: 1px solid gray;
}

.ref {
  opacity: 0.5;
  height: 283px !important;
}

.tick {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 50px;
  width: 1px;
  opacity: 0.5;
  border-left: 1px solid black;
}